#mid{
    height: 500px;
    /* height: fit-content; */
    width: 100%;
    margin-bottom: 50px;
    /* border: 3px solid green; */
}
#mid_box{
    height: 100%;
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 5%;
}

#mid_box>iframe{
    height: 100%;
    width: 45%;
    /* border: 1px solid red; */
}
#mid_box>div{
    width: 35%;
    margin: 10% auto;
    margin-top: 10%;
    height: 50%;
    /* border: 1px solid red; */
}
button:hover{
    cursor: pointer;
}
@media only screen and (max-width: 1200px) {
#mid{
height: 800px;
}
#mid_box{
display: block;
height:80%;
}
#mid_box>iframe{
height: 55%;

/* border: 2px solid black; */
width: 100%;
gap:none;
}
#mid_box>div{
height:250px;
width: 100%;
}

}
