#smallFooter {
  /* border: 1px solid red; */
  width: 90%;
  height: 200px;
  padding: 20px;
  margin-top: 30px;
}

#upPart {
  /* border: 1px solid red; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
#downPart {
  margin-top: 30px;
  display: flex;
  /* border: 1px solid green; */
  justify-content: space-between;
}
#upstoxLogo {
  width: 145px;
}
#myOptions {
  display: flex;
  width: 20%;
  /* border: 1px solid green; */
  float: right;
  justify-content: space-between;
}
#myOptions :hover {
  color: blue;
  cursor: pointer;
}
#secure {
  /* border: 1px solid olive; */
  float: right;
  margin-right: 70%;
}
.Fcolor {
  color: #81878c;
}
/* //upperpart */

#myBody {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-evenly;
  margin-bottom: 20px;
}
#myBody > div {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
  width: 100%;
}
#discoverbtn > button {
  margin-top: 18%;
  /* border: 1px solid green; */
}
#discoverbutton {
  padding: 10px 14px;
  background-color: #1f7ae0;
  border: none;
  color: white;
  border-radius: 8px;
  /* border: 10px solid red; */
}
#overview p {
  color: #81878c;
  font-size: 16px;
}
#overview h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
}
.nifty {
  color: #81878c;
  font-size: 16px;
  font-weight: 500;
  line-height: 10px;
}
#rate {
  font-size: 20px;
  font-weight: 400;
  line-height: 5px;
  margin-top: 2px;
}
#percentage {
  font-size: 16px;
}
#myBody {
  line-height: 15px;
}
#niftyH {
  line-height: 5px;
}
#body1 div {
  margin-right: 8%;
}
