body{
    margin:0;
    padding:0;
  }
  .main{
    width:100%;
    height:400px;
    margin: 0 auto;
  }
  .slider-outer{
     height:100% !important;
     
    overflow:hidden;
  }
  .slider{
   
      width: 100%;
      height: 100%;
      
  }
  .slide-image{
    width: 100%;
      height: 100%;
     display:block;
      color: transparent;
      background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      -o-background-size: cover;
      -webkit-background-size: cover;
      background-position: 50% 50%;
      background-repeat: none;
  }
  .slider .slide-item{
    float:left;
      padding: 0;
      margin: 0;
  }
  .clear{
    clear:both;
  }